<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/aboutus.css">
    <link rel="shortcut icon" href="/images/photo-1452421822248-d4c2b47f0c81.jpeg" type="image/x-icon">
  <meta name="description"
    content="Explore a vast collection of books online. Choose from various categories and dive into the world of literature.">
  <title>Readster | About Us</title>
</head>
<body>
    <div class="heading">
        <h1>About Us</h1>
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="/images/lib-image.jpg">
            </div>
            <div class="about-content">
                <h2>Our Mini Project Website</h2>
                <p>Welcome to our online book download platform! At Readster, we're passionate about bringing literature to your fingertips. With a vast collection of books spanning genres and authors, we aim to provide an enriching reading experience for book lovers worldwide. Explore our library, discover new favorites, and embark on literary adventures from the comfort of your home. Happy reading!</p>
            </div>
        </section>
    </div>
</body>
</html>