<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/stylesheets/contactus.css">
    <link rel="shortcut icon" href="/images/home/photo-1452421822248-d4c2b47f0c81.jpeg" type="image/x-icon">
  <meta name="description"
    content="Explore a vast collection of books online. Choose from various categories and dive into the world of literature.">
  <title>Readster | Contact Us</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Contact us</h1>
        </div>
        <div class="row">
            <h4 style="text-align:center">We'd love to hear from you!</h4>
        </div>
        
        <!-- Add a form tag to wrap the inputs -->
        <form id="contactForm" method="POST" action="/submit-form">
            <div class="row input-container">
                <div class="col-xs-12">
                    <div class="styled-input wide">
                        <input type="text" name="name" required />
                        <label>Name</label> 
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="styled-input">
                        <input type="text" name="username" required />
                        <label>Username</label> 
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="styled-input" style="float:right;">
                        <input type="email" name="email" required />
                        <label>Email</label> 
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="styled-input wide">
                        <textarea name="message" required></textarea>
                        <label>Message</label>
                    </div>
                </div>

                <div class="section">
                    <button type="submit" id="btn">
                      <p id="btnText">Submit</p>
                      <div class="checked">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                          <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                        </svg>
                      </div>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <script src="/javascripts/contactus.js"></script>

</body>
</html>
