<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/home/photo-1452421822248-d4c2b47f0c81.jpeg" type="image/x-icon">
  <meta name="description"
    content="Explore a vast collection of books online. Choose from various categories and dive into the world of literature.">
  <title>Readster | Profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <div class="bg-cover"></div>
<div class="container">
  <div class="header">
    <i class="fa fa-bars"></i>
    <i class="fa fa-cog"></i>
  </div>
  <div class="middle">
    <img src="/images/userbot.webp" alt="IMAGE" class="user-pic" />
    <h4 class="name"><%= user.username %></h4>
    <h4 class="work"><%= user.email %></h4>
    </div>
  <div class="footer">
    <br/>
    <h4 class="profile-status">You are Logged In</h4>
  </div>
</div>
</body>
</html>