<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/home/photo-1452421822248-d4c2b47f0c81.jpeg" type="image/x-icon">
  <meta name="description"
    content="Explore a vast collection of books online. Choose from various categories and dive into the world of literature.">
  <title>Readster | Profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <div class="bg-cover"></div>
<div class="container">
  <div class="header">
    <i class="fa fa-bars"></i>
    <i class="fa fa-cog"></i>
  </div>
  <div class="middle">
    <img src="/images/userbot.webp" alt="IMAGE" class="user-pic" />
    <h4 class="name"><%= user.username %></h4>
    <h4 class="work"><%= user.email %></h4>
    </div>
  <div class="footer">
    <br/>
    <h4 class="profile-status">You are Logged In</h4>
  </div>
</div>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/home/photo-1452421822248-d4c2b47f0c81.jpeg" type="image/x-icon">
  <meta name="description"
    content="Explore a vast collection of books online. Choose from various categories and dive into the world of literature.">
  <title>Readster | Profile</title>
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<body>
  <div class="card-client">
    <div class="user-picture">
      <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z">
        </path>
      </svg>
    </div>
    <p class="name-client">
      <%= user.username %>
        <span>You are Logged In
        </span>
    </p>
  </div>
</body>

</html>