<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/genre.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Unicons CSS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <script src="/javascripts/genre.js" defer></script>
</head>
<body>

    <nav class="nav">
        <i class="uil uil-bars navOpenBtn"></i>
        <a class="logo">Readster</a>
        <!-- <i class="uil uil-search search-icon" id="searchIcon"></i> -->
      <!-- <div class="search-box">
        <i class="uil uil-search search-icon"></i>
        <input type="text" placeholder="Search here..." />
      </div> -->
    </nav>


    <div class="container">
        <div class="titled">Search Results Books of Romance Genre</div>
        <div class="listProduct">

        </div>
    </div>

    

    <script>
        let products = null;
        // get datas from file json
        fetch('/javascripts/json-files/romance.json')
            .then(response => response.json())
            .then(data => {
                products = data;
                addDataToHTML();
        })

        function addDataToHTML(){
    // remove datas default from HTML
        let listProductHTML = document.querySelector('.listProduct');

        // add new datas
        if(products != null) // if has data
        {
            products.forEach(product => {
                let newProduct = document.createElement('a');
                newProduct.href = '/romance-detail?id=' + product.id;
                newProduct.classList.add('item');
                newProduct.innerHTML = 
                `<img src="${product.image}" alt="Books Images">
                <h2>${product.name}</h2>
                <p class="author-para">- By ${product.author}</p>`
                listProductHTML.appendChild(newProduct);

            });
        }
    }

    </script>
</body>
</html>
